<svg xmlns="http://www.w3.org/2000/svg" width="552.009" height="403.631" viewBox="0 0 552.009 403.631">
  <g id="Group_2" data-name="Group 2" transform="translate(0 0)">
    <path id="Path_3" data-name="Path 3" d="M8.712,154.829C.742,126.935-38.914-39.3,154.923,8.619s257.6,110.346,242.984,158.165-17.268,50.476-17.268,110.25-73.057,30.551-155.412-9.3S16.682,182.724,8.712,154.829Z" transform="translate(552.009 307.246) rotate(171)" fill="#ebe8d5"/>
    <path id="Path_6" data-name="Path 6" d="M.626,203.319C8.6,231.213-21.955,337.478,53.759,322.867S206.514,201.99,288.87,227.228,457.565,71.816,351.3,46.578,242.379-35.777,152.054,31.967-7.344,175.424.626,203.319Z" transform="matrix(-0.995, 0.105, -0.105, -0.995, 432.342, 343.426)" fill="#f1edd9"/>
    <path id="Path_7" data-name="Path 7" d="M8.712,154.829C.742,126.935-38.914-39.3,154.923,8.619s257.6,110.346,242.984,158.165-17.268,50.476-17.268,110.25-73.057,30.551-155.412-9.3S16.682,182.724,8.712,154.829Z" transform="translate(519.345 339.91) rotate(171)" fill="none" stroke="#c2a284" stroke-width="2"/>
  </g>
</svg>
