<svg xmlns="http://www.w3.org/2000/svg" width="17.72" height="16.946" viewBox="0 0 17.72 16.946">
  <g id="Group" transform="translate(0.51 0.5)">
    <path id="Path_2" data-name="Path 2" d="M9.362,9.158l-5.268.584a.5.5,0,0,0-.421.343.5.5,0,0,0,.14.521c1.566,1.429,3.919,3.569,3.919,3.569s-.646,3.113-1.074,5.19a.5.5,0,0,0,.2.506.5.5,0,0,0,.538.028C9.236,18.851,12,17.275,12,17.275L16.6,19.9a.5.5,0,0,0,.736-.534c-.428-2.078-1.071-5.191-1.071-5.191s2.353-2.14,3.919-3.566a.5.5,0,0,0,.14-.524.5.5,0,0,0-.42-.341c-2.108-.236-5.269-.586-5.269-.586l-2.183-4.83A.506.506,0,0,0,12,4.034a.5.5,0,0,0-.453.294C10.671,6.26,9.362,9.158,9.362,9.158Z" transform="translate(-3.649 -4.034)" fill="none" stroke="#c2a284" stroke-width="1"/>
  </g>
</svg>
