<section id="faq-section">
    <div class="c-container">
        <h2 class="u-h2 c-heading">{{ section.settings.faq_heading }}</h2>
        <div class="faq-wrapper">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'questions' %}
                        <div class="dropdown">
                            <div class="dropdown-header">{{ block.settings.question }}<span class="d-plus"></span></div>
                            <div class="dropdown-body">{{ block.settings.answer }}</div>
                        </div>
                {% endcase %}   
            {% endfor %}         
        </div>
    </div>
</section>



{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
        {
            "id": "faq_heading",
            "type": "text",
            "label": "Heading",
            "default": "frequently asked questions"
        }
    ],
    "blocks": [
      {
        "type": "questions",
        "name": "Question",
        "settings": [
          { 
            "id": "question",
            "type": "textarea",
            "label": "Question"     
          },
          { 
            "id": "answer",
            "type": "textarea",
            "label": "Answer"     
          }
        ]
      }
    ]
  }
{% endschema %}