<div id="ing-sections">
    <div class="patleft">{% include 'feat-left' %}</div>
    <div class="c-container">
        <h2 class="u-h2 c-heading">{{ section.settings.ing_heading }}</h2>
        <div class="cards">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'ingredients' %}
                        <div class="card">
                            <img src="{{ block.settings.ing_img | img_url: 'master' }}" alt="">
                            <h3 class="u-h3">{{ block.settings.ing_title }}</h3>
                            <p>{{ block.settings.ing_desc }}</p>
                        </div>
                {% endcase %}      
            {% endfor %}
        </div>
        <button type="" class="Button Button--primary Button--full ing-trigger">{{ section.settings.btn_txt }}</button>
    </div>
    <div class="patright">{% include 'feat-right' %}</div>
</div>
<section id="ing-popup">
    <div class="c-container">
        <span class="popup-close ing-trigger"></span>
        <h2 class="u-h2 c-heading">{{ section.settings.popup_heading }}</h2>
        <p>{{ section.settings.popup_body }}</p>
    </div>
</section>

{% schema %}
  {
    "name": "Ingredient Section",
    "settings": [
      {
        "id": "ing_heading",
        "type": "text",
        "label": "Ingredient Heading",
        "default": "top notch ingredients"
      },
      {
        "type": "header",
        "content": "Popup"
      },
      {
        "id": "popup_heading",
        "type": "text",
        "label": "Popup Heading",
        "default": "Enter Ingredients Heading Here"
      },
      {
        "id": "popup_body",
        "type": "textarea",
        "label": "Popup Body Text"
      },
      {
        "id": "btn_txt",
        "type": "text",
        "label": "Button Text",
        "default": "View all ingredients"
      }
    ],
    "blocks": [
      {
        "type": "ingredients",
        "name": "Ingredient",
        "settings": [
          { 
            "id": "ing_img",
            "type": "image_picker",
            "label": "Ingredient Image"       
          },
          { 
            "id": "ing_title",
            "type": "text",
            "label": "Ingredient Name"     
          },
          { 
            "id": "ing_desc",
            "type": "textarea",
            "label": "Ingredient Description"     
          }
        ]
      }
    ]
  }
{% endschema %}