<section id="mask-tabs">
    <div class="c-container">
        <ul class="ptabs">
            {% if section.settings.tab1_show == true %}
                <li class="ptab" data-tab="tab1">{{ section.settings.tab1_text }}</li>
            {% endif %}
            {% if section.settings.tab2_show == true %}
                <li class="ptab" data-tab="tab2">{{ section.settings.tab2_text }}</li>
            {% endif %}
            {% if section.settings.tab3_show == true %}
                <li class="ptab" data-tab="tab3">{{ section.settings.tab3_text }}</li>
            {% endif %}


        </ul>
        <div class="pcontents">

            <div class="pcontent" data-content="tab1">
                <div class="pimages">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'tab1' %}
                            <div class="pimage">
                                <img src="{{ block.settings.icon_img | img_url: 'master' }}" alt="">
                                <p>{{ block.settings.tab1_icon_label }}</p>
                            </div>
                        {% endcase %}
                    {% endfor %}
                </div>
                {% if section.settings.tab1_heading != "" %}
                    <div class="prte">
                        <h1 class="u-h1">{{ section.settings.tab1_heading }}</h1>
                        <p>{{ section.settings.tab1_body }}</p>
                    </div>   
                {% endif %}    
            </div>

            <div class="pcontent" data-content="tab2">
                <div class="pimages">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'tab2' %}
                            <div class="pimage">
                                <img src="{{ block.settings.icon_img | img_url: 'master' }}" alt="">
                                <p>{{ block.settings.tab2_icon_label }}</p>
                            </div>
                        {% endcase %}
                    {% endfor %}
                </div>   
                {% if section.settings.tab2_heading != "" %}
                    <div class="prte">
                        <h1 class="u-h1">{{ section.settings.tab2_heading }}</h1>
                        <p>{{ section.settings.tab2_body }}</p>
                    </div>   
                {% endif %}      
            </div>

            <div class="pcontent" data-content="tab3">
                <div class="pimages">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'tab3' %}
                            <div class="pimage">
                                <img src="{{ block.settings.icon_img | img_url: 'master' }}" alt="">
                                <p>{{ block.settings.tab3_icon_label }}</p>
                            </div>
                        {% endcase %}
                    {% endfor %}
                </div>   
                {% if section.settings.tab3_heading != "" %}
                    <div class="prte">
                        <h1 class="u-h1">{{ section.settings.tab3_heading }}</h1>
                        <p>{{ section.settings.tab3_body }}</p>
                    </div>   
                {% endif %}       
            </div>

        </div>
    </div>    
</section>


{% schema %}
  {
    "name": "Tabs Section",
    "settings": [
        {
            "type": "header",
            "content": "Tab 1"
        },
        {
            "type": "checkbox",
            "id": "tab1_show",
            "default": true,
            "label": "Enable Tab?"
        },
        {
            "id": "tab1_text",
            "type": "text",
            "label": "Tab1 Heading",
            "default": "9 benefits"
        },
        {
            "id": "tab1_heading",
            "type": "text",
            "label": "Tab1 Content Header"
        },
        {
            "id": "tab1_body",
            "type": "textarea",
            "label": "Tab1 Body Text"
        },
        {
            "type": "header",
            "content": "Tab 2"
        },
        {
            "type": "checkbox",
            "id": "tab2_show",
            "default": false,
            "label": "Enable Tab?"
        },
        {
            "id": "tab2_text",
            "type": "text",
            "label": "Tab2 Heading",
            "default": "TOP NOTCH INGRIDIENTS"
        },
        {
            "id": "tab2_heading",
            "type": "text",
            "label": "Tab2 Content Header"
        },
        {
            "id": "tab2_body",
            "type": "textarea",
            "label": "Tab2 Body Text"
        },
        {
            "type": "header",
            "content": "Tab 3"
        },
        {
            "type": "checkbox",
            "id": "tab3_show",
            "default": false,
            "label": "Enable Tab?"
        },
        {
            "id": "tab3_text",
            "type": "text",
            "label": "Tab3 Heading",
            "default": "COPPER PEPTIDE"
        },
        {
            "id": "tab3_heading",
            "type": "text",
            "label": "Tab3 Content Header"
        },
        {
            "id": "tab3_body",
            "type": "textarea",
            "label": "Tab3 Body Text"
        }
    ],
    "blocks": [
      {
        "type": "tab1",
        "name": "tab1 icon",
        "settings": [
          { 
            "id": "icon_img",
            "type": "image_picker",
            "label": "Image"     
          },
          { 
            "id": "tab1_icon_label",
            "type": "text",
            "label": "Icon Label"   
          }
        ]
      },
      {
        "type": "tab2",
        "name": "tab2 icon",
        "settings": [
          { 
            "id": "icon_img",
            "type": "image_picker",
            "label": "Image"     
          },
          { 
            "id": "tab2_icon_label",
            "type": "text",
            "label": "Icon Label"  
          }
        ]
      },
      {
        "type": "tab3",
        "name": "tab3 icon",
        "settings": [
          { 
            "id": "icon_img",
            "type": "image_picker",
            "label": "Image"     
          },
          { 
            "id": "tab3_icon_label",
            "type": "text",
            "label": "Icon Label"   
          }
        ]
      }
    ]
  }
{% endschema %}