<section id="content-sections">
    <img class="dots" src="{{ 'dots.jpg' | asset_img_url: "master" }}" alt="">
    <div class="c-container">
        <div class="c-content">
            <div class="c-content-inner">
                <h2 class="u-h2">{{ section.settings.intro_heading }}</h2>
                <p>{{ section.settings.intro_body }}</p>
            </div>
        </div>
        <div class="c-image" style="background-image: url({{ section.settings.intro_img | img_url: "master" }})">

        </div>
    </div>
</section>
<section id="icons-sections">
  <div class="c-container">
      {% for block in section.blocks %}
          {% case block.type %}
              {% when 'intro-icons' %}
              <div class="c-icon">
                  <img src="{{ block.settings.intro_icon_img | img_url: 'master'}}" alt="">
                  <p>{{ block.settings.intro_icon_text }}</p>
              </div>
          {% endcase %}    
      {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Product Intro & Icons",
    "settings": [
      {
        "id": "intro_img",
        "type": "image_picker",
        "label": "Product Intro Image"
      },
      {
        "id": "intro_heading",
        "type": "text",
        "label": "Intro Heading",
        "default": "CONSUMER TESTING RESULTS"
      },
      {
        "id": "intro_body",
        "type": "textarea",
        "label": "Intro Body Text"
      }
    ],
    "blocks": [
      {
        "type": "intro-icons",
        "name": "Icon",
        "settings": [
          { 
            "id": "intro_icon_img",
            "type": "image_picker",
            "label": "Icon Image"       
          },
          { 
            "id": "intro_icon_text",
            "type": "text",
            "label": "Icon Label"       
          }
        ]
      }
    ]
  }
{% endschema %}