<section id="product-feats">
    <div class="patleft">{% include 'feat-left' %}</div>
    <div class="c-container">
        <div class="feats">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'icon-section' %}

                        <div class="feat">
                            <img src="{{ block.settings.icon_img | img_url: 'master' }}" alt="">
                            {% if block.settings.icon_text != '' %}
                                <p>{{ block.settings.icon_text }}</p>
                            {% endif %}
                        </div>

                {% endcase %}    
            {% endfor %}
        </div>
    </div>
    <div class="patright">{% include 'feat-right' %}</div>
</section>

{% schema %}
    {
        "name": "Feature Icons",     
        "blocks": [
            {
                "type": "icon-section",
                "name": "Icon",
                "settings": [
                    {
                        "id": "icon_img",
                        "type": "image_picker",
                        "label": "Icon Image"
                    },
                    {
                        "id": "icon_text",
                        "type": "text",
                        "label": "Icon Item"
                    }
                ]
            }
        ]
    }
{% endschema %}