<section id="review-sections">
    <div class="patleft">{% include 'feat-left' %}</div>
    <div class="c-container">
        <h2 class="u-h2 c-heading">{{ section.settings.reviews_heading }}</h2>
        <div class="c-reviews">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'reviews' %}
                    <div class="c-review">
                        <div class="rev-img" style="background-image: url({{ block.settings.rev_img | img_url : 'master' }})"></div>
                        <div class="rev-content">
                            <div class="rev-stars {{ block.settings.rating }}">
                                <span>{% include 'star' %}</span>
                                <span>{% include 'star' %}</span>
                                <span>{% include 'star' %}</span>
                                <span>{% include 'star' %}</span>
                                <span>{% include 'star' %}</span>
                            </div>
                            <p>{{ block.settings.rev_body }}</p>   
                            <p class="">{{ block.settings.customer }}</p>        
                        </div>
                    </div>
                {% endcase %}
            {% endfor %}        
        </div>
    </div>
    <div class="patright">{% include 'feat-right' %}</div>
</section>


{% schema %}
  {
    "name": "Reviews Section",
    "settings": [
        {
            "id": "reviews_heading",
            "type": "text",
            "label": "Heading",
            "default": "be inspired"
        }
    ],
    "blocks": [
      {
        "type": "reviews",
        "name": "Review",
        "settings": [
          { 
            "id": "rev_img",
            "type": "image_picker",
            "label": "Image"     
          },
          { 
            "id": "rev_body",
            "type": "textarea",
            "label": "Review"     
          },
          { 
            "id": "customer",
            "type": "textarea",
            "label": "Reviewer Name"     
          },
          {
            "type": "select",
            "id": "rating",
            "label": "Rating",
            "options": [
              {
                "value": "one",
                "label": "1 star"
              },
              {
                "value": "two",
                "label": "2 stars"
              },
              {
                "value": "three",
                "label": "3 stars"
              },
              {
                "value": "four",
                "label": "4 stars"
              },
              {
                "value": "five",
                "label": "5 stars"
              }
            ],
            "default": "five"
          }
        ]
      }
    ]
  }
{% endschema %}