<section id="video-sections">
    <img class="dots" src="{{ 'dots-right.jpg' | asset_img_url: "master" }}" alt="">
    <div class="c-container">
        <!-- <span class="play-icon">
            {% include 'v-play' %}
        </span> -->
        
        <div class="c-video">
            <span class="play-icon">
                {% include 'v-play' %}
            </span>
            <img src="{{ section.settings.thumbnail | img_url: 'medium' }}" alt="">
            <iframe id="ytplayer" type="text/html" width="720" height="405"
                    src="{{ section.settings.vid_link }}?version=3&loop=1&playlist=4KU9hb5kA_c&controls=0"
                    frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="c-content">
            <div class="c-content-inner">
                <h2 class="u-h2">{{ section.settings.vid_heading }}</h2>
                <p>{{ section.settings.vid_body }}</p>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Video Section",
    "settings": [
        {
            "id": "thumbnail",
            "type": "image_picker",
            "label": "Video Thumbnail"
        },
        {
            "id": "vid_heading",
            "type": "text",
            "label": "Heading",
            "default": "HOW TO APPLY"
        },
        {
            "id": "vid_body",
            "type": "textarea",
            "label": "Body text"
        },
        {
            "id": "vid_link",
            "type": "text",
            "label": "Youtube Link",
            "default": "https://www.youtube.com/embed/4KU9hb5kA_c"
        }
    ]
  }
{% endschema %}