$button-background: {{settings.button_background}};
$heading : {{settings.heading_font.family}}, {{ settings.heading_font.fallback_families }};
$header-background : {{settings.header_background}};

$check    : "{{ 'check.svg' | asset_url }}";

.c-container{
    max-width: 80%;
    margin: 0 auto;

    @media only screen and (max-width: 500px ) {
        max-width: 90%;
    }

    @media only screen and (min-width: 1440px ) {
        max-width: 1200px;
    }
}

.c-heading{
    font-family: $heading;
    letter-spacing: .2em;
    text-transform: uppercase;
}

#mask-template, #sanitizer-template{

    .Price--compareAt::before{
        background: white !important;

        @media only screen and (max-width: 500px ) {
            background: $button-background !important;
        }
    }

    .Product{
        margin: 0 auto;
        max-width: 100%;
    }
    .Product__Wrapper {
        max-width: 80%;
        margin: 100px auto 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .Product__Gallery{
            width: 55%;
            position: relative;
            background-color: #ddd;
            margin: 0;

            .Product__Slideshow{
                max-width: 100%;
            }

            .Product__SlideshowMobileNav {
                margin: 0;
                position: absolute;
                bottom: 0;
                width: 100%;
                bottom: 2em;

                .flickity-page-dots .dot{
                    width: 13px;
                    height: 13px;
                    border: 1px solid $button-background;
                }

                .flickity-page-dots .dot.is-selected{
                    background: $button-background;
                }
            }
        }
        .Product__InfoWrapper{
            background: #ffffff;
            width: 50%;
            margin-left: -5%;
            position: relative;
            box-shadow: 0px 12px 40px rgba(0,0,0,0.07);
            border-radius: 3px;

            .Product__Info {
                margin: 0;
                width: 100%;
                padding: 0;
                max-width: 100%;

                .ProductMeta{
                    padding: 4em 4em 0 4em;

                    .loox-rating{
                        display: flex;
                        align-items: center;
                    }
                }
                .ProductMeta__Description{
                    padding: 0px 4em 0px 4em;
                    border: none;

                    ul{
                        list-style-type: none;
                        li{
                            padding-left: .5em;
                            display: flex;
                            align-items: center;
                            position:relative;


                          &:before{
                              position: absolute;
                              left: -2em;
                              content: url($check);
                          }  
                        }
                    }
                }
                .ProductForm{   
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    > *{
                        width: 100%;
                    }

                    .ProductForm__QuantitySelector{
                        padding: 0px 4em 0px 4em;
                        .QuantitySelector{
                            margin-top: 1em;
                        }

                        @media only screen and (max-width: 500px ){
                            padding: 0 2em;
                        }
                    }

                    .ProductMeta__PriceList{
                        width: 50%;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        background: $button-background;
                        position: relative;


                        @media only screen and (max-width: 500px ){
                            span {
                                color: $button-background !important;
                            }
                        }

                        > span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        &:after{
                            content: " ";
                            position: absolute;
                            background: white;
                            height: 40%;
                            width: 1px;
                            top: 50%;
                            right: -2px;
                            z-index: 2;
                            transform: translateY(-50%);
                        }

                        .ProductMeta__Price{
                            > *{
                                color: white;
                            }
                        }
                    }
                    
                    .ProductForm__AddToCart {
                        width: 50%;
                        margin:0;
                        padding: 0;
                        height: 60px;
                    }

                    @media only screen and (max-width: 500px ){
                        .ProductMeta__PriceList{
                            width: 100%;
                            background: transparent;
                            color: #232323;

                            > span{
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .Price--compareAt:before{
                                    background: #232323 !important;
                                }
                            }
                        }

                        .ProductForm__AddToCart{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 500px ){
        .Product__Wrapper {
            max-width: 90%;
            margin: 2em auto;
            // .Product__Aside{
            //     display: none;
            // }
            .Product__InfoWrapper {
                .Product__Info {
                    .Container{
                        padding: 0;
                    }
                    .ProductMeta{
                        padding: 2em;
                        padding-bottom: 1em;

                        .ProductMeta__Title {
                            text-align: left;
                        }
                    }
                    .ProductMeta__Description{
                        padding: 2em;
                        padding-top: 0;
                        margin: 0;
                        padding-bottom: 0;
                    }
                    
                }
            }
        }
    }

    @media only screen and (max-width: 768px ) {
        .Product__Wrapper{
            flex-direction: column;
            .Product__Gallery{
                width: 100%;
            }

            .Product__InfoWrapper{
                width: 100%;
                margin-left: 0;
                marrgin-top: 2em;
            }
        }
    }
}

// ========================================
// TABS
// ========================================

#mask-tabs, #sanitizer-tabs{
    padding: 7em 0 0;
    width: 100%;
    margin-top: 7em;
    position: relative;
    margin: 7em auto;

    &:before{
        content: "";
        position: absolute;
        max-width: 350px;
        width: 350px;
        height: 1px;
        background-color: $button-background;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .ptabs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5em;

        .ptab{
            list-style: none;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0px 5em;
            position: relative;
            letter-spacing: .2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $heading;
            text-align: center;
            width: 33.33%;

            @media only screen and (max-width: 768px ) {
                padding: 0 2em;
            }

            &:after{
                content: "";
                background: transparent;
                border: 1px solid #c2a284;
                position: relative;
                width: 1em;
                left: 0;
                bottom: 0;
                height: 1em;
                border-radius: 50%;
                margin-top: 1em;
                transition: all 200ms ease-in-out;
            }

            &.active{
                &:after{
                    background: $button-background;
                }
            }
        }

    }
    .pcontents{

        .pcontent{
            display: none;

            &.active{
                display: block;
            }

            .pimages{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .pimage{
                    box-sizing: border-box;
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 1em;
                    flex-direction: column;

                    img{
                        min-height: 150px;
                        max-height: 150px;
                        width: auto;

                        @media only screen and (max-width: 768px ) {
                            min-height: 100%;
                        }
                    }
                    
                    p{
                        padding-top: 1em;
                        font-family: $heading;
                        letter-spacing: .2em;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }

            .prte{
                margin-top: 2em;
                text-align: center;
                width: 50%;
                margin: 0 auto;

                @media only screen and (max-width: 768px ) {
                    width: 100%;
                }

                h1{
                    font-family: $heading;
                    letter-spacing: .2em;
                    text-transform: uppercase;
                    margin-top: 3em;
                }
            }
        }
    }

    @media only screen and (max-width: 768px ) {
        .pimage{
            img{
                min-height: 100%;
            }
        }
    }

    @media only screen and (max-width: 500px ) {
        padding: 2em 0 0;
        margin: 2em auto;
        .ptabs{
            margin-bottom: 2em;

            .ptab{
                width: 100%;
            }
        }
        .pcontents{
            .pcontent{
                .pimages{
                    .pimage{
                        width: calc( 100%/3 );
                        padding: 0;
                    }
                } 
            }
        }
    }
}

#sanitizer-tabs {
    .ptabs {

        .ptab{
            width: 25%;
            padding: 0 1em;
        }

        @media only screen and (max-width: 500px ){
            flex-direction: column;
            margin-bottom: 0;

            .ptab{
                width: 100%;
                margin-bottom: 2em;

                &::last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

// ========================================
// FEATURES
// ========================================

#product-feats{
    background: $header-background;
    padding: 7em 0;
    position: relative;
    overflow: hidden;

    .patleft{
        position: absolute;
        left: -23em;
        top: 50%;
        transform: translateY(-58%);
        z-index: 0;
        height: 100%;

        > svg{
            height: 100%;
        }
    }

    .patright{
        position: absolute;
        right: -25em;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
        height: 100%;

        > svg{
            height: 100%;
        }
    }

    @media only screen and (max-width: 500px ) {
        padding: 2em 0;

        .patleft{
            top: 0;
            transform: translateY(-67%);
        }

        .patright{
            right: -25em;
            top: auto;
            transform: translateY(-37%);
        }
    }

    .c-container{
        display: flex;
        overflow: hidden;
        z-index: 1;
        position: relative;

        .feats{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 80%;
            margin: 0 auto;

            @media only screen and (max-width: 768px ) {
                width: 100%;
            }

            .feat{
                width: 33.33%;
                padding: 0px 1em;
                text-align: center;

                img{   
                    width: 50%;
                    margin: 0 auto;
                }

                p{
                    font-family: $heading;
                    text-align: center;
                    margin-top: 1em;
                    text-transform: uppercase;
                    letter-spacing: .2em;
                }
            }

            @media only screen and (max-width: 500px ) {
                .feat{
                    img{
                        width: 100%;
                    }
                    p{
                        font-size: .8em;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


// ========================================
// CONTENT-SECTIONS
// ========================================
#content-sections{
    padding: 7em 0;
    position: relative;
    overflow: hidden;

    .dots{
        position: absolute;
        left: 0;
        z-index: 0;
        top: 0;
        width: 45%;
    }

    .c-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        z-index: 1;

        .c-image{
            padding-bottom: 50%;
            width: 50%;
            z-index: 0;
            position: relative;
            background-size: cover;
            background-position: center;
        }

        .c-content{
            position: relative;
            z-index: 1;
            margin-right: -5%;
            padding:2em;
            border: 1px solid $button-background;
            background: transparent;
            width: 55%;

            @media only screen and (max-width: 500px ) {
                padding: 1.5em;
            }

            h1,h2,h3,h4,h5{
                font-family: $heading;
                letter-spacing: .2em;
                text-transform: uppercase;
            }

            .c-content-inner{
               background: #FBFBFB;
               padding: 3em;
               @media only screen and (max-width: 500px ) {
                   padding: 1.5em;
               }
            }
        }

        @media only screen and (max-width: 768px ) {
            flex-direction: column;

            .c-image{
                order: 1;
                width: 100%;
                padding-bottom: 100%;
            }

            .c-content{
                order: 2;
                margin: 0;
                width: 100%;
                margin-top: 2em;
            }
        }
    }

    @media only screen and (max-width: 500px ) {
        padding: 2em 0;
    }
}

// ========================================
// ICONS
// ========================================
#icons-sections{
    padding: 0 0 7em 0;
    .c-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        .c-icon{
            width: calc( 100% / 7 );
            padding: 0 2em;

            img{

            }
            p{
                margin-top: 1em;
                font-family: $heading;
                letter-spacing: .2em;
                text-transform: uppercase;
                text-align: center;
            }
        }

        @media only screen and (max-width: 768px ) {

            .c-icon{
                width: calc( 100% / 4 );
                margin-bottom: 2em;
            }
        }

        @media only screen and (max-width: 500px ) {
            .c-icon{
                width: calc( 100% / 3 );
                padding: 0 .8em;
                
                &:last-child{
                    margin-bottom: 0;
                }

                img{
                    width: 90%;
                }

                p{
                    font-size: .8em;
                    margin-top: 1em;
                }
            }
        }
    }

    @media only screen and (max-width: 500px ) {
        padding: 0 0 2em 0;
    }
}

// ========================================
// INGREDIENTS
// ========================================
#ing-sections{
    position: relative;
    overflow: hidden;
    background: $header-background;
    padding: 7em 0;

    .patleft{
        position: absolute;
        left: -23em;
        top: 50%;
        transform: translateY(-58%);
        z-index: 0;
        height: 100%;

        > svg{
            height: 100%;
        }
    }

    .patright{
        position: absolute;
        right: -23em;
        top: 50%;
        transform: translateY(-58%);
        z-index: 0;
        height: 100%;

        > svg{
            height: 100%;
        }
    }

    .c-container{
        z-index: 1;
        position: relative;


        > h2{
            text-align: center;
            margin-bottom: 5em;
            font-size: 1.5em;
        }

        .cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            .card{
                width: calc((100% - 6em) / 4 );
                position: relative;
                padding: 2em 1em;
                background: white;
                margin-right: 2em;
                text-align: center;
                padding-top: 5em;

                &:last-child{
                    margin-right: 0;
                }
                
                img{
                    max-height: 100px;
                    min-height: 100px;
                    width: auto;
                    position: absolute;
                    top: -4em;
                    left: 50%;
                    transform: translateX(-50%);
                }

                h3{
                    font-family: $heading;
                    letter-spacing: .2em;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 14px;

                }
                
                p{
                    text-align: center;
                }
            }

            @media only screen and (max-width: 768px ) {
                .card{
                    width: calc((100% - 2em) / 2 );

                    &:nth-child(2n){
                        margin-right: 0;
                    }

                    &:first-child, &:nth-child(2) {
                        margin-bottom: 5em;
                    }
                }
            }

            @media only screen and (max-width: 500px ) {
                .card{
                    width: 100%;
                    margin: 0;
                    margin-bottom: 7em;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            
        }

        button{
            margin: 0 auto;
            width: auto;
            margin-top: 5em;
            display: block;
        }
    }

    @media only screen and (max-width: 500px ) {
        padding: 2em 0;
    }
}


// ========================================
// VIDEO-SECTIONS
// ========================================
#video-sections{
    padding: 7em 0;
    position: relative;
    overflow: hidden;

    .dots{
        position: absolute;
        right: 0;
        z-index: 0;
        top: 0;
        width: 45%;
    }

    .c-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        z-index: 1;

        .c-video{
            width: 50%;
            z-index: 0;
            position: relative;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000;
            padding-bottom: 50%;

            .play-icon{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 200ms ease-in-out;
                top: 0;
    
                &:hover{
                    opacity: .8;
                    cursor: pointer;
                }
    
                &.active{
                    display: none;
                }

                @media only screen and (max-width: 768px ){
                    display: none;
                }
            }  

            > img{
                z-index:1;
                position: absolute;
                width: 100%;
                height: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            iframe{
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .ytp-chrome-top.ytp-show-cards-title,
                .ytp-large-play-button.ytp-button{
                    display: none !important;
                }
            }

            &.active{
                > img{
                    display: none;
                }
            }


        }

        // .play-icon{
        //     position: absolute;
        //     top: 50%;
        //     left: 29%;
        //     transform: translate(-29%, -50%);
        //     z-index: 1;
        //     transition: all 200ms ease-in-out;

        //     &:hover{
        //         opacity: .8;
        //         cursor: pointer;
        //     }

        //     &.active{
        //         display: none;
        //     }
        // }  

        .c-content{
            position: relative;
            z-index: 1;
            margin-left: -5%;
            padding:2em;
            border: 1px solid $button-background;
            background: transparent;
            width: 55%;

            @media only screen and (max-width: 500px ) {
                padding: 1.5em;
            }

            h1,h2,h3,h4,h5{
                font-family: $heading;
                letter-spacing: .2em;
                text-transform: uppercase;
            }

            .c-content-inner{
               background: #FBFBFB;
               padding: 3em;

                @media only screen and (max-width: 500px ) {
                   padding: 1.5em;
               }
            }
        }
    }

    @media only screen and (max-width: 768px ) {
        .c-container{
            flex-direction: column;

            .play-icon{
                display: none;
            }

            .c-video{
                width: 100%;
                img{
                    display: none;
                }
            }

            .c-content{
                width: 100%;
                margin: 0;
                margin-top: 2em;
            }
        }
    }

    @media only screen and (max-width: 500px ) {
        padding: 2em 0;

        .c-container{
            flex-direction: column;

            .c-video{
                width: 100%;
                padding-bottom: 100%;
            }

            .c-content{
                width: 100%;
                margin: 0;
                margin-top: 2em;
            }
        }
    }
}


// ========================================
// DROPDOWN SECTION
// ========================================
#faq-section{
    margin: 7em 0;

    .c-heading{
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .faq-wrapper{
        border-top: 1px solid $button-background;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 5em;
    }

    .dropdown{
    //   border: 1px solid $grey-nurse;
        cursor: pointer;    
    //   box-shadow: 0px 5px 25px rgba(0,0,0,0.06);
        border-bottom: 1px solid $button-background;


        .dropdown-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em 0;
            transition: all 150ms ease-in-out;
            // border-bottom: 1px solid $grey-nurse;
            background-color: white;
            z-index: 2;
            font-size: 18px;

            .d-plus{
                position: relative;
                width: 12px;
                height: 12px;
                padding-left: 3em;


                &:before{   
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    background-color: $button-background;
                    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
                }
                &:after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    background-color: $button-background;
                    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
                }

            }

            
        }
        
        .dropdown-body{
            padding: 0 0 2em; 
            position: relative;
            display: block;
            color: #4d6655;

            ul{
                padding-left: 20px;
                li{
                list-style: square;
                margin-bottom: 20px;
                color: #4d6655;
                }
            }
        }

        &:hover{
            .dropdown-header{
            //   background-color: $grey-nurse;
            }
        }

        &.shown{
        // box-shadow: 0px 5px 25px rgba(0,0,0,0.06);
            .dropdown-header{
            //   background-color: $grey-nurse;

            }
            .dropdown-body{
                // display: block;
            }

            .d-plus{   
                &:before{
                    transform: translate(-50%, -50%) rotate(90deg);
                }
                &:after{
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }

    @media only screen and (max-width: 768px ){
        margin-top: 0;
        .faq-wrapper{
            max-width: 100%;
        }
    }

    @media only screen and (max-width: 768px ){
        padding: 2em 0;
        .faq-wrapper{
            max-width: 90%;
        }
    }
}



// ========================================
// REVIEWS SECTION
// ========================================

#review-sections{
    overflow: hidden;
    padding: 7em 0;
    background-color: $header-background;
    position: relative;
    margin-bottom: 7em;

    .patleft{
        position: absolute;
        left: -23em;
        top: 50%;
        transform: translateY(-58%);
        z-index: 0;
        height: 100%;
    
        > svg{
            height: 100%;
        }
    }
    
    .patright{
        position: absolute;
        right: -25em;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
        height: 100%;
    
        > svg{
            height: 100%;
        }
    }

    .c-container{
        z-index: 2;
        position: relative;

        .c-heading{
            display: block;
            text-align: center;
            margin-bottom: 5em;
        }
        .c-reviews{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            .c-review{
                width: calc( (100% - 4em) / 3 );
                margin: 0 auto;
                display: block;
                margin-right: 2em;


                &:last-child{
                    margin-right: 0;
                }

                .rev-img{
                    width: 100%;
                    padding-bottom: 100%;
                    background-size: cover;
                    background-position: center;
                }

                .rev-content{
                    background: white;
                    width: 80%;
                    padding: 2em;
                    margin: -2em auto 0;
                    display: flex;
                    min-height: 250px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    @media only screen and (min-width: 1440px ) {
                        min-height: 230px;
                    }


                    .rev-stars{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 1em;

                        span{
                            margin-right: 1em;

                            &:last-child{
                                margin-right: 0;
                            }
                        }

                        &.one{
                            span{
                                &:first-child{
                                    svg{
                                        > *{
                                            fill: $button-background;
                                            > *{
                                                fill: $button-background;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.two{
                            span{
                                &:first-child, &:nth-child(2){
                                    svg{
                                        > *{
                                            fill: $button-background;
                                            > *{
                                                fill: $button-background;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.three{
                            span{
                                &:first-child, &:nth-child(2), &:nth-child(3){
                                    svg{
                                        > *{
                                            fill: $button-background;
                                            > *{
                                                fill: $button-background;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.four{
                            span{
                                &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4){
                                    svg{
                                        > *{
                                            fill: $button-background;
                                            > *{
                                                fill: $button-background;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.five{
                            span{
                                svg{
                                    > *{
                                        fill: $button-background;
                                        > *{
                                            fill: $button-background;
                                        }
                                    }
                                } 
                            }
                        }
                    }

                    p{
                        text-align: center;

                        &:last-child{
                            margin-top: 1em;
                            font-family: $heading;
                            letter-spacing: .2em;
                        }
                    }
                }    
            }            
        }
    }

    @media only screen and (max-width: 768px ){
       .c-container {
            .c-reviews {
                .c-review{
                    width: calc((100% - 2em) / 3 );
                    margin-right: 1em;

                    .rev-content{
                        margin: 0 auto;
                        padding: 1em;
                        width: 100%;

                        .rev-stars{
                            margin-bottom: 0;
                            span{
                                margin-right: .7em;
                            }
                        }

                        p{
                            margin-bottom: 0;
                        }
                    }
                }
            }
       }
    }   
    
    @media only screen and (max-width: 500px ){
        padding: 2em 0;
        .c-container {
             .c-reviews {
                 .c-review{
                     width: 100%;
                     margin: 0;
                     margin-bottom: 2em;

                     &:last-child{
                         margin: 0;
                     }

                     .rev-content{
                         min-height: auto;
                         padding: 2em;
                     }

                 }
             }
        }
     }   
}


// ========================================
// POP UP
// ========================================

#ing-popup{
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;

    &.active{
        z-index: 100;
        display: block;
    }

    .c-container{
        background: white;
        padding: 5em;
        margin: 5em auto;
        position: relative;

        .popup-close{
            height: 20px;
            width: 20px;
            position: absolute;
            right: 2em;
            top: 2em;
            transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
            
            &:hover{
                cursor: pointer;
                transform: rotate(90deg);
            }
    
            &:before{
                content: '';
                width: 1px;
                height: 100%;
                right: 50%;
                transform: translateX(-50%) rotate(45deg);
                background: $button-background;
                z-index: 100;
                position: absolute;
            }

            &:after{
                content: '';
                width: 1px;
                height: 100%;
                right: 50%;
                transform: translateX(-50%) rotate(-45deg);
                background: $button-background;
                z-index: 100;
                position: absolute;
            }
        }

    }

    @media only screen and (max-width: 500px ) {
        .c-container{
            padding: 2em;
        }
    }
}



