<div class="mlvedaform">
    {% include 'shogun-products', content: product %}
    {{product.metafields.shogun.above}}
    <div id="sanitizer-template">
        {% section 'product-mask-template' %}
        {% section 'sanitizer-tabs' %}
        {% section 'product-feats' %}
    </div>
    {% section 'product-recommendations' %}
    {% section 'recently-viewed-products' %}
    
    
    {% if product.metafields.loox.num_reviews %}
    <script id="looxSchemaJson" type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "@id": {{ canonical_url | json }},
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ product.metafields.loox.avg_rating }}",
        "reviewCount": "{{ product.metafields.loox.num_reviews }}"
      },
      "name": {{ product.title | json }}
    }
    </script>
    {% endif %}
    <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
    
    <script>
      window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
      ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
    </script>
    
    {{product.metafields.shogun.below}}
    
    
    </div>