<div class="mlvedaform">
	{% include 'shogun-products', content: product %}
	{{product.metafields.shogun.above}}
	{% section 'product-template' %}
	{% section 'product-recommendations' %}
	{% section 'recently-viewed-products' %}
	
	<script>
	  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
	  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
	</script>
</div>	